<img id="main-image" src="../../assets/images/newspapers04-edit.JPG">

<div class="top-container">
  <div class="jumbotron">
    <h1 class="display-4" id="title">Saved Articles</h1>
    <img id="onion" src="../../assets/images/onion-logo.png">
    <br>
    <p></p>
    <p class="lead">Your Saved Articles</p>
  </div>
</div>
<br>
<br>
<div class="container">

  <div class="row">
    <div class="col-md-12" id="savedArticle-card">
      <ul class="list-group">
        <li class="list-group-item active">Saved Articles</li>
        <li class="list-group-item" id="savedArticle">
          <p id="savedHeadline"><strong>{{article.title}}</strong></p>
          <p>{{article.excerpt}}</p>
          <a id="handleLink" target='_blank' href="{{article.link}}">{{article.link}}</a>
          <p></p>
          <p>{{article.date}}</p>
        </li>
        </li>
      </ul>
    </div>
  </div>
  <br>
  <br>

  {{!--
  <script>

    $(document).ready(function () {

      $("#nav-scrape").hide();
      event.preventDefault();
      );
    });

  </script> --}}